<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>할일 리스트를 보여주는 페이지</title>
<th:block th:insert="/include/resource"></th:block>
</head>
<body>
<th:block th:insert="/include/header :: myHeader"></th:block>
	<div class="container">
		<table>
			<thead>
				<th>번호</th>
				<th>제목</th>
				<th>내용</th>
			</thead>
			<tbody>
				<tr th:each="tmp:${list}">
					<td th:text="${tmp.num}"></td>
					<td>[[${tmp.title}]]</td>
					<td>[[${tmp.content}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>