<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!--/* /include/resource.html 페이지의 전체 내용을 포함 시키기 */-->
<th:block th:insert="/include/resource"></th:block>

</head>
<body>
	<!--/* /include/header.html 페이지에서 myHeader 라는 fragment 를 여기에 출력하기 */-->
	<th:block th:insert="/include/header :: myHeader"></th:block>
	
	<!--/* /include/header.html 페이지에서 yourHeader 라는 fragment 를 이 요소 안에 출력하기 */-->
	<!--/*자식 요소로 들어감*/-->
	<div th:insert="/include/header :: yourHeader" style="border:1px dotted red"></div>
	
	<!--/* /include/header.html 페이지에서 ourHeader 라는 fragment 를 이 요소 안에 출력하기 */-->
	<div th:replace="/include/header :: ourHeader" style="border:1px solid blue"></div>
	
	<div class="container">
		<h1>Main Contents 입니다.</h1>
		<p>안녕 나는 자두야...</p>
	</div>
	
</body>
</html>