<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>할일 수정 폼 입니다.</title>
</head>
<body>
	<div class="container">
		<h1>할일 정보 수정 폼</h1>
		<form th:action="@{/todo/update}" method="post">
			<div>
				<label for="id">번호</label>
				<input type="text" name="id" id="id" th:value="${dto.id}" readonly="readonly"/>
			</div>
			<div>
				<label for="content">할일</label>
				<input type="text" name="content" id="content" th:value="${dto.content}"/>
			</div>
			<div>
				<label for="regdate">번호</label>
				<input type="text" name="regdate" id="regdate" th:value="${dto.regdate}" readonly="readonly"/>
			</div>
			<button type="submit">수정확인</button>
			<button type="reset">취소</button>
		</form>
	</div>
</body>
</html>