<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>
	<!-- 웹브라우저가 무시하는 주석 -->
	<!--/* Thymeleaf가 무시하는 주석*/-->
	<div class="container">
		<h1>인덱스 페이지 입니다.</h1>
		<p>
			오늘의 인물 : <strong>[[${personToday}]]</strong>
			<br />
			오늘의 인물 : <strong th:text="${personToday}"></strong>
			<br />
			<img src="/spring04/images/1.jpg" alt="최유진 얼굴" />
			<br />
			<img th:src="@{/images/1.jpg}" alt="최유진 얼굴" />
		</p>
		<ul>
			<li><a th:href="@{/notice}">공지사항</a></li>
			<li><a th:href="@{/member}">회원 한명의 정보</a></li>
			<li><a th:href="@{/member/list}">회원 목록</a></li>
			<li><a th:href="@{/sequence}">시퀀스 활용</a></li>
			<li><a th:href="@{/buy?id=99&category=foods}">99 번 음식 주문하기</a></li>
			<li><a th:href="@{'/buy?id=' + ${id} + '&category=' + ${category} }">99 번 음식 주문하기</a></li>
			<li><a th:href="@{/buy(id=${id}, category=${category})}">99번 음식 주문하기</a></li>
		</ul>
	</div>
</body>
</html>